<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express Forms and URLS</title>
  <link rel="stylesheet" href="/stylesheets/style.css">

  {{#each artistInput}}

  <br>
  <img src="{{this.images.0.url}}" class="artistimage" />

  <br>
  <p class=artisttext>
    {{this.name}}
    <br>
    <a href="/albums/{{this.id}}">View Albums</a>
  </p>
  {{/each}}
  </body>